* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fafafa;
  color: #2B2B2B;
  font-size: 16px;
}

body,
html,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#__next {
  display: grid;
  grid-template-rows: 50px auto 50px;
}
/** OVERWRITE */
.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #360000!important;
}
.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid #360000!important;
}
.swal2-icon.swal2-warning {
  color: #360000!important;
  border-color: #360000!important;
}
.swal2-title, #swal2-content {
  color: #360000!important;
}
.swal2-actions.swal2-loading button.swal2-confirm.swal2-styled {
  border-left-color: #360000!important;
  border-right-color: #360000!important;
}
.swal2-confirm {
  width: 100%;
  height: 45px;
  -webkit-appearance: none;
  background-color: #360000;
  color: white;
  font-size: 1em;
}
.swal2-confirm:focus,
.swal2-cancel:focus {
  background-color: white!important;
  color: #360000!important;
  -webkit-appearance: none!important;
  outline: 4px solid!important;
}